language: php

php:
  - '7.0'
  - '7.1'
  - '7.2'
  
cache:
  directories:
    - $HOME/.composer/cache

install:
  - composer install --no-interaction

script:
  - phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)
