language: php

php:
  - "7.2"
  - "7.3"
  - "7.4"

cache:
  directories:
    - $HOME/.composer/cache

install:
  - composer install --no-interaction

script:
  - composer run-script lint
  - composer run-script test

after_success:
  - bash <(curl -s https://codecov.io/bash)
